.table-row-cell {
    -fx-cell-size: 25.9px;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
}
/*
.table-view  .scroll-bar:vertical{
    -fx-background-color: #FFFFFF;
    -fx-opacity: 0.7;
}*/
.table-row-cell2 {
    -fx-cell-size: 70px;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
    -fx-font-size:16;
}