.root{
    -fx-background-image: url("../images/totalBg.png");
    -fx-height: 584px;
    -fx-width: 970px;
}

.table-view {
	 -fx-font-size: 12px;
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: #1d1d1d;
    -fx-table-header-border-color: #1d1d1d;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 12;
    -fx-border-width: 1 1 1 1;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        /*derive(-fx-base, 80%)*/
        transparent;
}

.table-view .column-header .label {
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-alignment: CENTER_LEFT;
    -fx-opacity: 1;
}

.table-view:focused .table-row:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}


.table-cell{
    -fx-font-size: 12px;
}
